/* Color Palette */
:root {
    --color-primary: #3975ea;
    --color-accent: #42b72a;
    --color-body: #1c1e21;
    --color-background: #f0f2f5;
    --color-backgroundForm: #fff;
    --color-placeholder: #91949b;
}


*, 
*::after, 
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    font-size: 62.5%;     /* 16px * 62.5% = 10px */
}

body {
    background-color: var(--color-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.17;
    color: var(--color-body);
}


h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.4rem;
}

/* Button */
.btn {
    padding: 1.6rem 1.7rem;
    font-size: 1.7rem;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
}

.btn--accent {
    background-color: var(--color-accent);
    color: #fff;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn--stretched {
    text-align: center;
    display: inline-block;
}

/* Links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.card {
    padding: 2rem 0 16.4rem;
}

@media screen and (min-width: 900px) {  

    .card {
        padding: 7.2rem 0 14.2rem;
    }
}




/* Input */
.input {
    padding: 1.6rem 1.7rem;
    font-size: 1.7rem;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    width: 364px;
    outline: 0;
}

::placeholder {
    color: var(--color-placeholder);
}

.input:focus::placeholder{
    color: #c3c7cb;
}

.input:focus {
    border: 1px solid var(--color-primary);
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4
}


/* Brand */
.brand {
    margin: 0 auto;
    width: 40rem;
    text-align: center;
}

.brand__img {
    padding: 0 0 20px 0;    
}

.brand__img__logo {
    height: 10.6rem;
    margin: -2.8rem;
}

.brand__heading {
    font-size: 2.4rem ;
    font-weight: normal;
    margin: 0;
    line-height: 2.8rem;
}

@media screen and (min-width: 900px) {
    .brand__img {
        padding: 11.2rem 0 1.6rem;
    }

    .brand {
        text-align: left;
         padding-right: 3.2rem;
    }

    .brand__heading {
        line-height: 3.2rem;
    }
}

@media screen and (min-width: 1075px ) {

    .brand {
        width: 58rem;
    }

    .brand__heading {
        margin-right: 4rem;
        font-size: 2.8rem;
    }
}

/* Log in group */
.login {
    width: 396px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.102), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 1rem 0 2.4rem ;
    margin: 4rem 0 0;
    border-radius: .8rem;
    background-color: #fff;
}

.login__group {
    text-align: center;
    margin: 0;
    padding: 0;
}


.login__group__inputs {
    max-width: 100%  
}

.login__group__input {
    text-align: center;
    margin: auto;
    display: inline-block;
    padding: .6rem 0;
    width: 36.4rem;
}

.login__group__btn {
    width: 39.6rem;
    padding-top: 0.6rem;
    margin: 0 auto;

}

.login__group__btn .btn {
    width: 36rem;
    display: inline-block;
}

.login__group__btn button:hover {
    transform: scale(.99);
}

.login__group__link {
    margin-top: 1.6rem;
}

.login__group__link > a {
    color: #1877f2;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.34
}

.login__group__border {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #dadde1;
    margin: 2rem 1.6rem;
    line-height: 1.34;
}

.login__group__btn > a.btn {
    width: auto;
    text-decoration: none;
    transition: background-color 0.2s;
}

.login__group__btn > a.btn:hover {
    background-color: #32a51b;
}


/* Create pages */
.create-page {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 2.8rem;
    text-align: center;
}

.create-page__link {
    font-weight: 600;
    color: var(--color-body);
}

/* Block */
.block {
    height: 45.6rem;
    width: 39.6rem;
}

/* Content */
.content {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 98rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@media screen and (min-width: 900px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        margin: 0 auto;
        padding: 2rem 0;
    }
    .content .brand__img, .brand{
        margin: 0;
    }

}

@media screen and (max-width: 1075px) {
     .content {
        margin: 0 4rem;
        width: auto;
    }

}

/* list */
.list {
    list-style: none;
    padding: 0;
}

/* Footer */
.footer {
    background-color: var(--color-backgroundForm);
}

.footer__content {
    padding-top: 2rem;
}

.pagefooter {
    font-size: 1.2rem;
    width: 98rem;
    margin: 0 auto;
}

@media screen and (max-width: 1075px) {
    .pagefooter {
       margin: 0 4rem;
       width: auto;
   }

}


.languages__item {
    display: inline-block;
    padding-left: 1rem;
    line-height: 1.34;
}

.languages li:first-child{
    padding: 0;
}

.languages__item > a {
    color: #737373;
}

.footer__border {
    border-bottom: 1px solid #dddfe2;
    margin-bottom: 8px;
    height: 8px;
    max-width: 98rem;
}

.pagefooter__children{
    line-height: 1.6;
    margin-left: -2rem;
}

.pagefooter__children li {
    display: inline-block;
    padding-left: 2rem;
    line-height: 19.2px;
}


.pagefooter  li > a,
.copyright {
    color: #8a8d91;
}

.copyright {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

