<div class="login">
  <form class="login__group">
    <div class="login__group__inputs">
      <div class="login__group__input">
        <input class="input" type="text" placeholder="Email or phone number" />
      </div>
      <div class="login__group__input">
        <input class="input" type="password" placeholder="Password" />
      </div>
    </div>
    <div class="login__group__btn">
      <button type="submit" class="btn btn--primary">Log In</button>
    </div>
    <div class="login__group__link">
      <a href="#">Forgot password?</a>
    </div>
    <div class="login__group__border"></div>
    <div class="login__group__btn">
      <a href="#" class="btn btn--accent">Create new account</a>
    </div>
  </form>
</div>
